<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/blogging.png') }}">
        <link href="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js" rel="stylesheet">
        <link href="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/darkly/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
